<!--<!DOCTPYE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
<!--xmlns:sec="http:///www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--<head>-->
    <!--<title> Login page for To-Do app </title>-->
    <!--<meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->
    <!--<h3> Please login into To-Do app, provide the correct credentials to access your To-Dos.</h3>-->
    <!--<p th:if="${param.error}">-->
        <!--Bad credentials-->
    <!--</p>-->
<!--<form th:action="@{/appLogin}" method="post">-->
    <!--User Name: <input type="text" title="app_username"/> <br/><br/>-->
    <!--Password: <input type="text" title="app_password"/> <br/><br/>-->
    <!--<input type="submit" value="Login"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->